/**
 * Homework 1
 **/

* {
  box-sizing: border-box;
  text-align: center;
}



body {
  font-size: 18px;
  font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 960px;
  background: #777;
  color: grey;
}

header {
  padding: 30px;
  margin-bottom: 10px;
  color: grey;
  background: #ebebeb;
}

section {
  float: left;
  padding: 10px;
  padding-top: 20px;
  width: 495px;
  border-top: 20px;
  background: #ebebeb;
  color: grey;
  margin-bottom: 20px;

}

nav {

  padding: 30px;
  margin-bottom: 20px;
  color: grey;
  background: #ebebeb;
}

article {
  padding: 20px;
margin-top: 20px;
  color: lightgrey;
  background: #777;
  margin-bottom: 10px;

}

h1 {
	padding: 10px;
	background: #ebebeb;
	font-size: 18px;
	margin: 10px;
	color: grey;
}

p{
	padding: 10px;
	background: #ebebeb;
	font-size: 18px;
	margin: 10px;
	color: grey;
}


aside {
  float: left;
  color: grey;
  width: 445px;
  height: 254px;
  padding: 20px;
  margin-left: 20px;
  background: #ebebeb;

}

footer {
  padding: 30px;
  clear: both;
  background: #ebebeb;
  color: grey;
}
